
*{ padding:0; margin:0; font-size:12px;}
body,ul,ol,di{ padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal; fongt-size:12px;}
li{ list-style:none;}
a{ text-decoration:none; color:#000; }
em,i{ font-style:normal;}
b,strong{ font-weight:normal;}
.clearfix:after{display:block; content:'' clear:both;}
.clearfix{zoom:1;}
img{display:block;}